@inherits LayoutComponentBase

<div id="Container" class="seasalt-background">

    <header>
        
        <img src="/Images/jungle-logo.svg" width="40"/>
        
        <div id="Links" class="Rubik-Regular">

            <NavLink>Home</NavLink>
            <NavLink>Discover</NavLink>
            <NavLink>Category</NavLink>
            <NavLink>Help</NavLink>

        </div>

        <img src="/Icons/shopping-cart.png" id="Cart"/>

        @* <img src="/Icons/profile.gif" width="30" /> *@

    </header>

    <main>
        @Body
    </main>

    <footer class="Rubik-Regular licorice">
        
        <span>&copy; @DateTime.Today.Year Jungle E-commerce. All rights reserved</span>

        <div>

            <a>Terms of Service</a>

            <a>Privacy Policy</a>

        </div>

    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>