#First {
    padding: 25px 50px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 10px;
    height: 300px;
}

#left{
    display: flex;
    flex-direction:column;
    gap: 25px;
    padding: 15px;
    width: 60%;
}

#right{
    background-color: green;
    width: 40%;
}

#placeOrder{
    background-color:transparent;
    border: 1px solid;
    width: max-content;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;
    margin-top:auto;
    cursor:pointer;
    transition: 0.7s ease-in-out;
}

    #placeOrder:hover {
        background-color: #d78521;
        border: none;
        transform: scale(1.05)
    }