@page "/"

<PageTitle>Home</PageTitle>

<div id="First" class="licorice-background">
    
    <div id="left">
        <span class="Rubik-Medium" style="color:white;font-size: 40px; font-weight: 600">
            Get Up to 30% off
        </span>

        <span class="fulvous Rubik-Regular" style="font-size: 24px; font-weight: 600">
            New Arrivals
        </span>

        <span class="Rubik-Regular" style="color:white;font-size:14px;font-weight:600;">
            Introducing our latest collection of products.
        </span>

        <button id="placeOrder" class="Rubik-Light">
            PLACE YOUR ORDER
        </button>

    </div>

    <div id="right">
        sss
    </div>

</div>