@page "/administration/tenants"
@layout AdminLayout

<PageTitle>Tenants</PageTitle>

<div id="Holder">

    <div id="left">
        
        <span id="allT" class="Rubik-Light">
            <FluentIcon Value="@(new Icons.Filled.Size20.PeopleCommunity())" />
            All Tenants
        </span>

    </div>

    <div id="right">
        ss
    </div>
</div>


@code {

}
