.erin {
    color: #5CF64A;
}

.rojo {
    color: #DE1A1A;
}

.licorice {
    color: #110b11;
}

.fulvous {
    color: #d78521;
}

.seasalt {
    color: #f9f9f9;
}

.licorice-background {
    background-color: #110b11;
}


.seasalt-background {
    background-color: #f9f9f9;
}

.rojo-background {
    background-color: #DE1A1A;
}

.fulvous-background {
    background-color: #d78521;
}
