<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/StyleSheets/app.css" />
    <link rel="stylesheet" href="/StyleSheets/colors.css" />
    <link rel="stylesheet" href="/StyleSheets/fonts.css" />
    <link rel="stylesheet" href="Jungle.styles.css" />
    <link rel="icon" type="image/x-icon" href="/Images/jungle-logo.svg" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
